/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

/* Code title styles */
.remark-code-title {
    @apply rounded-t bg-gray-700 px-5 py-3 font-mono text-sm font-bold text-gray-200;
}

.remark-code-title + div > pre {
    @apply mt-0 rounded-t-none;
}

/* Code block styles */
.code-highlight {
    @apply float-left min-w-full;
}

.code-line {
    @apply -mx-4 block border-l-4 border-transparent pl-4 pr-4;
}

.code-line.inserted {
    @apply bg-green-500 bg-opacity-20;
}

.code-line.deleted {
    @apply bg-red-500 bg-opacity-20;
}

.highlight-line {
    @apply -mx-4 border-l-4 border-primary-500 bg-gray-700 bg-opacity-50;
}

.line-number::before {
    @apply mr-4 -ml-2 inline-block w-4 text-right text-gray-400;
    content: attr(line);
}

:root {
    --background: #282A36;
    --comment: #6272A4; /* use */
    --foreground: #F8F8F2; /* use */
    --cyan: #8BE9FD; /* use */
    --green: #50FA7B; /* use */
    --orange: #FFB86C; /* use */
    --pink: #FF79C6; /* use */
    --purple: #BD93F9; /* use */
    --red: #FF5555; /* use */
    --yellow: #F1FA8C; /* use */
}

pre::-webkit-scrollbar {
    @apply h-3;
}

pre::-webkit-scrollbar-track {
    background-color: var(--comment);
}

pre::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 8px;
}

.limit-300 {
    height: 300px !important
}

.limit-300 {
    height: 400px !important
}

.limit-500 {
    height: 500px !important
}

.limit-600 {
    height: 600px !important
}

.limit-700 {
    height: 700px !important
}

.limit-800 {
    height: 800px !important
}

.language-css {
    color: var(--purple)
}

.token.comment,
.token.variable
{
    color: var(--comment);
}

.token.prolog {
    color: var(--foreground);
}

.token.punctuation,
.token.property
{
    color: var(--orange);
}

.namespace {
    color: #e2777a;
}

.token.symbol {
    color: rgba(255, 184, 108, 1);
}

.token.entity,
.token.tag,
.token.keyword,
.token.selector,
.token.important
{
    color: var(--pink);
}

.token.operator {
    color: rgba(139, 233, 253, 1);
}

.token.boolean,
.token.constant
{
    color: var(--purple);
}

.token.number {
    color: rgba(189, 147, 249, 1);
}

.token.function,
.token.attr-name,
.token.atrule
{
    color: var(--green);
}

.token.builtin,
.token.url,
.token.class-name
{
    color: var(--cyan);
}
.token.attr-value,
.language-css .token.url,
.token.string
{
    color: var(--yellow);
}

.token.char {
    color: rgba(255, 135, 157, 1);
}

.token.regex {
    color: var(--red);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.table {
    display: inline;
}

.token.table {
    display: inline;
}


/**************/
