@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.task-list-item::before {
    @apply hidden;
}

.task-list-item {
    @apply list-none;
}

.footnotes {
    @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
    @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

@layer components {
    .w-section {
        @apply mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0;
    }
}

::-webkit-scrollbar {
    @apply bg-gray-300 dark:bg-gray-700 w-3;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 1px solid transparent;
    @apply bg-gray-500 dark:bg-gray-300 rounded-lg border-transparent border-2;
}

/* we define color scheme here */

.dark {
    --base-color: 23 23 23;
}

.light {
    --base-color: 255 255 255;
}

html,
body {
    background-color: rgb(var(--base-color));
    transition: background-color 500ms;
    transition-timing-function: var(--timing-func);
}
